body
{
    background-color: rgb(245, 245, 245);
    font-family:'Segoe UI';
}
iframe{
  position: absolute;
  display: flex;
}
a
{
    color:black;
    text-decoration: none;
}
.header
{
    background-color: rgb(202, 202, 202);
    text-align: center;
    margin-bottom: 3vw;
    border-radius: 3vw;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container{
  align-items: center;
  justify-content: center;
  display: flex;
}
.mySlides{
    display:none;
    border-radius: 3vw;
    width: 75vw;
}
@media all and (max-width: 600px) {

body
{
    margin:3vw;
}
.header
{
    padding: 2vw 0 2vw 0;
    font-size: 12vw;
}
a
{
    font-size: 6vw;
    background-color: rgb(221, 221, 221);
    border-radius: 1vw;
    padding:1vw 2vw 1vw 2vw
}

  }
  
@media all and (min-width:601px) and (max-width:1199px){
body
{
    margin:1.5vw;
}
  .header
{
    font-size: 4vw;
    padding: 1vw 0 1vw 0;
    border-radius: 3vw;
}
  a
  {
      font-size: 3vw;
      background-color: rgb(221, 221, 221);
      border-radius: 1vw;
      padding:0.5vw 1vw 0.5vw 1vw
  }
}


@media all and (min-width:1200px)
{
  body
  {
      margin:1vw;
  }
.header
{
  font-size: 2vw;
  padding: 0.5vw 0 0.5vw 0;
  border-radius: 1vw;
}
a
{
    font-size: 1.5vw;
    background-color: rgb(221, 221, 221);
    border-radius: 1vw;
    padding:15px 25px;
}
}
